h1 {
  color: #fff;
}

*{
  text-align: center;
  color: #fff;
  font-family: sans-serif;
}

.app{
  background:coral;
  width: 400px;
  margin: auto;
  border-radius: 3rem;
}

p{
  font-size: 20px;
}

ul li{
  list-style: none;
}
