h1 {
  color: #000000;
}

*{
  margin: 1rem;
  text-align: center;
  color: #000000;
  font-family: sans-serif;
}

.app{
  background:coral;
  width: 400px;
  margin: auto;
  border-radius: 3rem;
}

p{
  font-size: 20px;
}

ul li{
  list-style: none;
}

input{
  color: black;
  border: none;
  height: 30px;
  width: 250px;
  margin: 1rem;
  border-radius: 20px;
  outline: none;
}

ul li{
  display:inline;
  margin-left: 1rem;
}

.Link{
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 20px;
}

.Link:hover{
  color: #c0c0c0;
  transition: 0.4s;
}